version: "3"
services:
  test:
    build: .
    ports:
      - "4400:4400"
    container_name: forest-watcher-test
    environment:
      PORT: 4400
      NODE_PATH: app/src
      CT_REGISTER_MODE: auto
      NODE_ENV: test
      CT_URL: http://mymachine:9000
      LOCAL_URL: http://forest-watcher.fw.svc.cluster.local:4400
      API_VERSION: v1
      STAMPERY_TOKEN: token
      CT_TOKEN: cttoken
      FASTLY_ENABLED: "false"
    command: test
